#signup {
  margin-top: 70px;
}

#signup .form-signup {
  margin: 20px 0;
  padding: 0 30%;
}

#signup .signup-title .title {
  color: #3A539B;
}

#signup .signup-title .subtitle {
  color: #4183D7;
}

.no-margin {
  margin: 0 !important;
}

.ui.button.signup-btn {
  border: 2px solid #FABE58;
  border-radius: 0;
  background: linear-gradient(to right, #EB9532 , #F2784B );
  color: #FFFF;
}
